@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --red: #FC4747;
    --dark-blue: #10141E;
    --greyish-blue: #5A698F;
    --semi-dark-blue: #161D2F;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--dark-blue);
    user-select: none;
}

.constant{
    position: fixed;
    width: 100%;
}

.constant.above{
    z-index: 999;
}

.home-page{
    position: relative;
    margin-left: 10.25rem;
}

.animation{
    width: 20rem;
    margin: auto;
    padding-top: 25vh;
}

@media screen and (max-width: 875px) {
    .home-page{
        margin: 0 1.56rem;
    }
    .constant{
        z-index: 99;
    }
}

@media screen and (max-width: 760px) {
    .home-page {
        margin: 0;
    }
    .animation {
        width: 5rem;
        padding-top: 45vh;
    }
}